*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  background-color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* padding: 20px;
  /* REMEMBER to remove */
  /* border: 1px solid black; */ 
}

button {
  /* For SAFARI buttons */
  color: inherit;
}